## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [16]:
import pandas as pd
import numpy as np

In [17]:
np.random.randint(100000000,size=4)

array([71491768, 23051566, 88376541, 35738683])

In [18]:
popular=np.random.randint(100000000,size=4)
data = {'國家':['美國','台灣','日本','中國']
        ,'人口':popular }
data_1 = pd.DataFrame(data)

In [19]:
data_1

   國家        人口
0  美國  57497249
1  台灣  54830260
2  日本  21469051
3  中國  45704948